*.log
log/
newrelic/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
HELP.md
.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
### NetBeans ###
/nbproject/private/
/nbbuild/

/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

application.properties
application-test.properties
CandidateCommandLineApplication.java

# Pre push command
./HelperCommands
venv/

newrelic/
logs/
htmlReport/
/graphify-out/